#{extends 'main.html' /} 
#{set title:'Report' /} 
#{set activePage:'report' /}
#{include 'nav.html' /}

<section class="ui segment" id="all">
  <div class="ui text" id="h1">List of Donations</div>
  <div class="ui text">Please select option to filter below</div>

  <div class="ui segment" id="reportSeg">
    <div class="ui list">
      <table class="ui table">
        <thead>
          <tr>
            <th class="three wide">Donors</th>
            <th class="one wide">Age</th>
            <th class="two wide">State</th>
            <th class="two wide">Amount($)</th>
            <th class="two wide">Method Donated</th>
            <th class="two wide">Candidate</th>
          </tr>
        </thead>
        <tbody>
      <!-- List of Donations -->
          #{list items:donations, as:'donation'}
          <tr>
            <td>${donation.from.email}</td>
            <td>${donation.from.age}</td>
            <td>${donation.from.state}</td>
            <td>${donation.received}</td>
            <td>${donation.methodDonated}</td>
            <td>${donation.to}</td>
          </tr>
        </tbody>
        #{/list}
      </table>
    </div>
    <!-- Dropdown and Buttons for Filtering -->
    <div class="ui segment">
      <div class="ui four column grid">
        <div class="four wide column">
        <!-- Filter by Candidate -->
          <form class="ui form" action="/filterCandidate" method="POST">
            <select class="ui dropdown" name="email"> 
            #{list items:candidates, as:'candidate'}
              <option value="">Select a Candidate</option>
              <option value="${candidate.email}">${candidate}</option> 
            #{/list}
            </select>
            <div class="ui hidden divider"></div>
            <button type="submit" class="ui green submit button">
              Filter by Candidate</button>
            <div class="ui error message"></div>
          </form>
        </div>
        <div class="four wide column">
        <!-- Filter by Donor -->
          <form class="ui form" action="/filterDonor" method="POST">
            <select class="ui dropdown" name="donorEmail"> 
            #{list items:users, as:'user'}
              <option value="">Select a Donor</option>
              <option value="${user.email}">${user}</option> 
            #{/list}
            </select>
            <div class="ui hidden divider"></div>
            <button type="submit" class="ui green submit button">
              Filter by Donor</button>
            <div class="ui error message"></div>
          </form>
        </div>
        <div class="four wide column">
        <!-- Filter by State -->
          <form class="ui form" action="/filterState" method="POST">
            <select class="ui dropdown" name="state"> 
            #{list items:stateList, as:'state'}
              <option value="">Select a State</option>
              <option value="${state}">${state}</option> 
            #{/list}
            </select>
            <div class="ui hidden divider"></div>
            <button type="submit" class="ui green submit button">
              Filter by State</button>
            <div class="ui error message"></div>
          </form>
        </div>
        <div class="right aligned fourwide column">
          <form class="ui form" action="/ReportController/index" method="GET">
            <button type="submit" class="ui green submit button">
              <i class="refresh icon"></i>Refresh</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <img class="ui image" src="/public/images/homerLeft.jpg" id="reportImg">
</section>

<script src="@{'/public/javascripts/report.js'}"></script>
