#{extends 'main.html' /} 
#{set title:'Report' /} 
#{set activePage:'report' /} 
#{include 'nav.html' /}

<section class="ui segment" id="all">
  <div class="ui text" id="h1">List of Donations</div>

  <div class="ui segment" id="reportSeg">
    <div class="ui list">
      <table class="ui table">
        <thead>
          <tr>
            <th class="three wide">Donors</th>
            <th class="one wide">Age</th>
            <th class="two wide">State</th>
            <th class="two wide">Amount($)</th>
            <th class="two wide">Method Donated</th>
            <th class="two wide">Candidate</th>
          </tr>
        </thead>
        <tbody>
          #{list items:donations, as:'donation'}
          <tr>
            <td>${donation.from.email}</td>
            <td>${donation.from.age}</td>
            <td>${donation.from.state}</td>
            <td>${donation.received}</td>
            <td>${donation.methodDonated}</td>
            <td>${donation.to}</td>
          </tr>
        </tbody>
        #{/list}
      </table>
    </div>
    <div class="ui segment">
      <div class="ui two column grid">
        <div class="column">
          <form class="ui form" action="/ReportController/filterCandidate" method="POST">
            <select class="ui dropdown" name="email"> 
            #{list items:candidates, as:'candidate'}
              <option value="">Select a Candidate</option>
              <option value="${candidate.email}">${candidate}</option> 
            #{/list}
            </select>
            <button type="submit" class="ui green submit button">Filter by Candidate</button>
            <div class="ui error message"></div>
          </form>
        </div>
        <div class="right aligned column">
          <form class="ui form" action="/ReportController/index" method="GET">
            <button type="submit" class="ui green submit button">
              <i class="refresh icon"></i>Refresh</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <img class="ui image" src="/public/images/homerLeft.jpg" id="reportImg">
</section>
<script src="@{'/public/javascripts/report.js'}"></script>
