#{extends 'main.html' /} 
#{set title:'Donation Request' /} 
#{set activePage:'donation' /} 
#{include 'nav.html' /}

<section class="ui segment" id="all">
  <div class="ui text" id="h1">Welcome ${user.firstName}</div>
  <div class="ui hidden divider"></div>
  <div class="ui text" id="h3">Please give generously</div>

  <section class="ui segment" id="donateSeg">
    <div class="ui grid">
      <div class="six wide column">
        <form class="ui form" action="/DonationController/donate" method="POST">
          <table class="ui table">
            <thead>
              <tr>
                <th>Make a donation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><select class="ui dropdown" name="email">
                    #{list items:candidates, as:'candidate'}
                    <option value="">Select Candidate</option>
                    <option value="${candidate.email}">${candidate}</option>
                    #{/list}
                </select></td>
              </tr>
              <tr>
                <td><select class="ui dropdown" name="amountDonated">
                    <option value="">Select Amount</option>
                    <option value="100">$100</option>
                    <option value="500">$500</option>
                    <option value="1000">$1000</option>
                </select></td>
              </tr>
              <tr>
                <td>
                  <div class="grouped inline fields">
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input id="paypal" name="methodDonated" value="paypal"
                          checked="checked" type="radio"> <label
                          for="paypal">PayPal</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input id="direct" name="methodDonated" value="direct"
                          type="radio"> <label for="direct">Direct</label>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-actions">
                    <div class="ui green submit button">
                      <i class="add icon"></i>Donate
                    </div>
                    <div class="ui error message"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="ten wide column">
        <div class="ui raised fluid segment">
          <div id="googleMap"></div>
          <script src="https://maps.googleapis.com/maps/api/js"></script>
          <script src="@{'/public/javascripts/map.js'}"></script>
        </div>
      </div>
    </div>
    <div class="ui segment" id="progressSeg">
      <div class="ui indicating progress" id="progress">
        <div style="width: ${progress}" class="bar">
          <div class="progress"></div>
        </div>
        <div class="label" id="progressLabel">${candProgress}</div>
      </div>
    </div>
  </section>
</section>

<script src="@{'/public/javascripts/donate.js'}"></script>
<script>$('#progress').progress('increment', '${progress}');</script>
