body {
  margin: 5% 7% 7% 7%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: url(/public/images/usaFlag.jpg) no-repeat;
  background-size: cover;
}

.sticky {
  width: 86%;
  margin-top: 1%;
  margin-bottom: 4px;
}

#nav {
  height: 35px;
  padding: .5%;
}

#all {
  background: grey;
}

#mainSeg {
  width: 54%;
  float: left;
  padding: 3%;
  background: #eeeeee;
}

#h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: .1%;
  font-size: 2em;
}

#h3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: .1%;
  font-size: 1.4em;
}


#welcomeText1 {
  padding: 1.4%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 3.4em;
  aligned: center;
}

#welcomeText2 {
  padding: 2%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 2.4em;
}

#welcomeText3 {
  padding: 1.4%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.4em;
}

#welcomeImg {
  width: 45%;
  padding: 10% 1%;
  float: right;
}

.ui.input input::-moz-placeholder {
  color: rgba(0, 0, 0, 1);
}

#donateSeg
{
  width: 85%;
  padding: 3%;
  background: #eeeeee;
}

#donateImg
{
  width: 62%;
  padding: 1%;
  float: right;
}

#reportSeg
{
  width: 75%;
  padding: 0.5%;
  float: left;
}

#reportImg
{
  width: 24%;
  padding: 2%;
  float: right;
}

#adminReportSeg
{
  background: #eeeeee;
}