#{extends 'main.html' /} 
#{set title:'Welcome to Abamo ' /} 
#{set activePage:'home' /} 
#{include 'nav.html' /}

<section class="ui segment" id="all">
  <div class="ui text" id="h1">Welcome...</div>

  <div class="ui table" id="mainSeg">
    <div class="center aligned" id="welcomeText1">Homer for President!</div>
    <div class="ui hidden divider"></div>
    <div class="center aligned" id="welcomeText2">Time for a change!</div>
    <div class="center aligned" id="welcomeText2">Out with Boring Abamo!</div>
    <div class="center aligned" id="welcomeText2">Giving has never been so easy!</div>
    <div class="ui hidden divider"></div>
    <div class="center aligned" id="welcomeText3">
      Just click <a href="/login">here</a> to log in!
    </div>
    <div class="center aligned" id="welcomeText3">Then go to the Donation page and empty your
      wallet!</div>
  </div>

  <img class="ui image" src="/public/images/simpson08.gif" id="welcomeImg">

</section>
