#{extends 'main.html' /}
#{set title:'Welcome to Abamo ' /}
#{set activePage:'home' /}
#{include 'nav.html' /}

<section class="ui segment" style=background:#c2ebe4>
	<h1> Welcome </h1>
		<section class="ui segment" style=background:#d8f1f0>
  		<div class="ui grid">
    		<div class="six wide column">
					<h2> Homer for President!</h2>
						<h5>Time for a change</h5>
						<h5>Out with Boring Abamo</h5>
						<h5> Giving has never been so easy</h5>
						<h3>Just click <a href ="/login"> here </a> to log in</h3>
						<h4>Then go to the Donation page and empty your wallet	</h>
				</div>
			  <div class="two wide column"></div>
				  <img src="/public/images/homer.jpg">
			</div>
    </section>
</section>