#{extends 'main.html' /}

<div class="ui rail">
  <div class="ui fixed top sticky">
    <nav class="ui inverted black menu" id="nav">
      #{if admin == null}
        #{if activePage == 'home'}
        <a class="ui active item" href="/index"><i class="home icon"></i>Home</a> 
        #{/if} #{else}
        <a class="ui item" href="/index"><i class="home icon"></i>Home</a> 
        #{/else}
        #{if activePage == 'login'}
        <a class="ui active item" href="/Administrator/login"><i class="sign in icon"></i>Admin Login</a>
        #{/if} #{else} 
        <a class="ui item" href="/Administrator/login"><i class="sign in icon"></i>Admin Login</a>
        #{/else}
     #{/if}
     #{if admin != null}
        #{if activePage == 'report'} 
        <a class="ui active item" href="/report"><i class="bar chart icon"></i>Admin Report</a>
        #{/if} #{else} 
        <a class="ui item" href="/report"><i class="bar chart icon"></i>Admin Report</a> 
        #{/else}
         #{if activePage == 'register'} 
        <a class="ui active item" href="/candidatecontroller/index"><i class="add user icon"></i>Register Candidate</a>
        #{/if} #{else} 
        <a class="ui item" href="/candidatecontroller/index"><i class="add user icon"></i>Register Candidate</a> 
        #{/else}
         #{if activePage == 'create'} 
        <a class="ui active item" href="/officecontroller/index"><i class="building outline icon"></i>Create Office</a>
        #{/if} #{else} 
        <a class="ui item" href="/officecontroller/index"><i class="building outline icon"></i>Create Office</a> 
        #{/else}
        <a class="ui item" href="/logout"><i class="sign out icon"></i>Admin Logout</a> 
     #{/if}
    </nav>
  </div>
</div>