#{extends 'main.html' /}

<nav class="ui inverted blue menu">
  #{if user==null && activePage=='home'} 
    <a class="ui active item" href="/index"><i class="home icon"></i>Home</a>
  #{/if} #{elseif user==null}
  	<a class="ui item" href="/index"><i class="home icon"></i>Home</a>
  #{/elseif}
  #{if user==null && activePage=='signup'}
 	 <a class="ui active item" href="/signup"><i class="add user icon"></i>Sign Up</a>
 	#{/if} #{elseif user==null}
 		<a class="ui item" href="/signup"><i class="add user icon"></i>Sign Up</a>
	#{/elseif}
	#{if user==null && activePage=='login'}
 		<a class="ui active item" href="/login"><i class="sign in icon"></i>Log In</a>
 	#{/if} #{elseif user==null}
		<a class="ui item" href="/login"><i class="sign in icon"></i>Log In </a>
	#{/elseif} 
  #{if user !=null && activePage=='donation'}
		<a class="ui active item" href="/donation"><i class="dollar icon"></i>Make Donation</a>	
	#{/if} #{elseif user !=null}
		<a class="ui item" href="/donation"><i class="dollar icon"></i>Make Donation</a>
	#{/elseif}
	#{if user !=null && activePage=='report'}
		<a class="ui active item" href="/donation/report"><i class="bar chart  icon"></i>Donation Report</a>	
	#{/if} #{elseif user !=null}
		<a class="ui item" href="/donation/report"><i class="bar chart icon"></i>Donation Report</a>
	#{/elseif}
  #{if user !=null && activePage=='edit'}
    <a class="ui active item" href="/editDetails/index"><i class="edit icon"></i>Edit Details</a>
  #{/if} #{elseif user !=null}
    <a class="ui item" href="/editDetails/index"><i class="edit icon"></i>Edit Details</a>
  #{/elseif}
	#{if user !=null && activePage=='logout'}
		<a class="ui active item" href="/logout"><i class="sign out icon"></i>Log Out</a>	
	#{/if} #{elseif user !=null}
		<a class="ui item" href="/logout"><i class="sign out icon"></i>Log Out</a>
	#{/elseif}
</nav>
