#{extends 'main.html' /}

<nav class="ui inverted yellow menu">
	#{if activePage=='welcome'} 
    <a class="ui active item" href="/index"><i class="home icon"></i>Welcome</a>
  #{/if} #{else}
  	<a class="ui item" href="/index"><i class="home icon"></i>Welcome</a>
  #{/else}
  #{if activePage=='signup'}
 	 <a class="ui active item" href="/signup"><i class="add user icon"></i>Sign Up</a>
 	#{/if} #{else}
 		<a class="ui item" href="/signup"><i class="add user icon"></i>Sign Up</a>
	#{/else}
	#{if activePage=='login'}
 		<a class="ui active item" href="/login"><i class="sign in icon"></i>Log In</a>
 	#{/if} #{else}
		<a class="ui item" href="/login"><i class="user icon"></i>Log In </a>
	#{/else} 
</nav>
