#{extends 'main.html' /} #{set title:'Donation Location' /} #{set
activePage:'location' /} #{include 'adminNav.html' /}

<section class="ui segment" id="all">
  <div class="ui text" id="h1">Donation Locations...</div>
  <div class="ui text">Select area on map to show donor data</div>

  <section class="ui segment" id="adminSeg">
    <div class="ui two column grid">
      <div class="ui nine wide column">
        <div class="ui raised fluid segment">
          <div id="googleMap"></div>
          <div class="ui hidden divider"></div>
          <div class="ui four column grid">
            <div class="ui column">
              <div class="ui fluid green submit button" onClick="start()">Start</div>
            </div>
            <div class="ui column">
              <div class="ui fluid green submit button" onClick="stop()">Stop</div>
            </div>
            <div class="ui column">
              <div class="ui fluid green submit button" onClick="filter()">Filter</div>
            </div>
            <div class="ui column">
              <div class="ui fluid green submit button" onClick="reset()">Reset</div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui seven wide column">
        <div class="ui centred text" id="h3">Donors located within search
          area</div>
        <table class="ui table segment">
          <thead>
            <th class="three wide">Description</th>
            <th class="three wide">GPS (latitude, longitude)</th>
          </thead>
          <tbody id="markertable">
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

</section>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="@{'/public/javascripts/donationLocation.js'}"></script>
