#{extends 'main.html' /}
#{set title:'Login to donate to Abamo' /}
#{set activePage:'login' /}
#{include 'nav.html' /}

<section class="ui segment" style=background:#c2ebe4>
  <p>Log in here ...</p>
</section>

<section class="ui form segment" style=background:#d8f1f0>
	<form action="/authenticate" method="POST">
		<div class="two fields">
			<div class="field">
				<label> Email: </label>
					<input type="text" name="email">
			</div>
			<div class="field">
				<label> Password: </label>
					<input type="password" name="password">
			</div>
		</div>
		  <button type = "submit" class="ui yellow button "><i class="sign in icon"></i>Login</button>
	</form>
</section>
