#{extends 'main.html' /} 
#{set title:'Login to donate to Abamo' /} 
#{set activePage:'login' /} 
#{include 'nav.html' /}

<section class="ui inverted yellow segment">
  <h4 class="ui header">Log in here ...</h4>

  <section class="ui segment" id="mainSeg">
    <form class="ui form" action="/authenticate" method="POST">
      <div class="ui left icon input field">
        <input type="text" name="email" placeholder="Email"> 
        <i class="user icon"></i>
      </div>
      <div class="ui left icon input field">
        <input type="password" name="password" placeholder="Password">
        <i class="lock icon"></i>
      </div>
      <button type="submit" class="ui yellow button ">
        <i class="sign in icon"></i>Login
      </button>
    </form>
  </section>
</section>