#{extends 'main.html' /} 
#{set title:'Signup for Abamo' /} 
#{set activePage:'signup' /} 
#{include 'nav.html' /}

<section class="ui inverted yellow segment">
  <h4 class="ui header">Sign up here ...</h4>

  <section class="ui segment" id="mainSeg">
    <form class="ui form" action="/register" method="POST">
      <div class="two fields">
        <div class="ui input field">
          <input type="text" name="firstName" placeholder="First Name">
        </div>
        <div class="ui input field">
          <input type="text" name="lastName" placeholder="Last Name">
        </div>
      </div>
      <div class="two fields">
        <div class="ui input field">
          <input type="text" name="age" placeholder="Age">
        </div>
        <div class="ui input field">
          <select class="ui search selection dropdown" id="search-select" name="state">
            <option value="">State</option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="District Of Columbia">District Of Columbia</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
          </select>
        </div>
      </div>
      <div class="two fields">
        <div class="ui left icon input field">
          <input type="text" name="email" placeholder="Email">
          <i class="user icon"></i>
        </div>
        <div class="ui left icon input field">
          <input type="password" name="password" placeholder="Password"> 
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input name="usaCitizen" type="checkbox"> 
          <label for="conditions">Tick to confirm you are a citizen of the USA</label>
        </div>
      </div>
      <div class="ui green submit button">
        <i class="save icon"></i> Signup</div>
      <div class="ui error message"></div>
    </form>
  </section>
</section>

<script src="@{'/public/javascripts/signUp.js'}" type="text/javascript" charset="${_response_encoding}"></script>